body {
    background-color: black;

    color: white;
    font-weight: bold;
    
    user-select: none; /* Drag Ban - user-select: text;*/
}

a, a:link, a:visited, a:active, a:hover {
    text-decoration:none;
    color: white;
}

.buttonBack {
    background-color: green; color: white;
    border: none; border-radius: 10px;
    height: 30px; width: 200px; cursor: pointer;

    position: absolute;
    top: 80%; left: 40%;
    transform: translate(-50%,-50%);
}

.buttonLogoutSend {
    background-color: red; color: white;
    border: none; border-radius: 10px;
    height: 30px; width: 200px; cursor: pointer;

    position: absolute;
    top: 80%; left: 50%;
    transform: translate(-50%,-50%);
}

/* Profile Box / 프로필 상단 박스 */
.profileBox {
    border: 1px solid #151515; background-color: #151515;
    width: 520px; height: 200px; border-radius: 20px;

    position: absolute;
    top: 15%; left: 50%;
    transform: translate(-50%,-50%);
}

.idText {
    color: white;

    position: absolute;
    top: 20%; left: 50%;
    transform: translate(-50%,-50%);
}

.stateText {
    color: white; font-size: 10px;

    position: absolute;
    top: 23%; left: 50%;
    transform: translate(-50%,-50%);
}

.profileImage {
    width: 80px; height: 80px;
    border-radius: 20px;

    position: absolute;
    top: 12%; left: 50%;
    transform: translate(-50%,-50%);
}