body {
    background-color: black;

    color: white; text-align: center;
    user-select: none; /* Drag Ban - user-select: text;*/
}

.buttonBack {
    background-color: green; color: white;
    border: none; border-radius: 10px;
    height: 30px; width: 200px; cursor: pointer;

    position: absolute;
    top: 85%; left: 50%;
    transform: translate(-50%,-50%);
}

.noticeIndex {
    position: relative; top: 30px;
    width: 160px; height: 60px;
}

/* Box - Notice */
.noticeBox {
    border: 3px solid #151515;
    border-radius: 10px; height: 570px;
}

/* Notice / 공지작성 필요요소 */

    /* Text / 텍스트 */
    .bold {
        font-weight: bold;
    }

    /* Color / 컬러 */
    .green {
        color: green;
    }

    .red {
        color: red;
    }
    
    .blue {
        color: blue;
    }