<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    
    <span>
        ID :: {{ userID }} <br>
        PW :: {{ userPW }} <br>
        Email :: {{ userEmail }} <br><br>

        Coin :: {{ userCoin }} <br>
        Exp :: {{ userExp }} <br>
        Level :: {{ userLevel }} <br><br>

        Join :: {{ userJointime }} <br>
    </span>

    <form methods='get' id='pageProfile' action={{ url_for("pageLogout") }}>
        <button type="submit" class="buttonLogoutSend">Logout</button>
    </form>

</body>
</html>