<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/4Page_profile.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/Icon.png') }}">

    <title>{{ title }}</title>
</head>
<body>
    <div class="profileBox"></div>
    {%if userProfileUrl == None%}
        <img class="profileImage" src="{{ url_for('static', filename='image/BasicProfile.png') }}">
    {%else%}
        <img class="profileImage" src="">
    {%endif%}
    <span class="idText">{{ userID }}</span>
    <span class="stateText">{{ userJointime }}</span>

    <!-- <form methods='get' id='pageProfile' action={{ URL }}>
        <button type="submit" class="buttonBack">Home</button>
    </form> -->
    <form methods='get' id='pageProfile' action={{ url_for("pageLogout") }}>
        <button type="submit" class="buttonLogoutSend">Logout</button>
    </form>

</body>
</html>