<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/6Page_manger.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/Icon.png') }}">

    <title>{{ title }}</title>
</head>
<body>
    <div class="boxDeving"> 
        <br>
        <span style="font-size: 20px; font-weight: bold;">[ 2022 - 09 - 18 ] : Profile Page</span>
        <br>
        <span style="font-size: 10px;">Version :: Dev 0.0.7</span>
        <br><br>
        <span style="font-size: 20px; font-weight: bold;">▶ 업데이트 사항 ◀</span>
        <br><br>
        1. 프로필 페이지의 스타일이 결정되었습니다!<br>
        2. 몇몇 페이지의 스타일이 수정되었습니다.<br>
        3. "Back" 버튼이 생겼습니다.
        <br><br>
        <span style="font-size: 20px; font-weight: bold;">▶ 공지사항 ◀</span>
        <br><br>
        공지사항이 존재하지 않습니다!
    </div>

    <form methods='get' id='pageManger' action={{ URL }}>
        <button type="submit" class="buttonBack">Back</button>
    </form>

</body>
</html>